<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
            {{>header}}
    <p>Made by {{name}}. It uses mapbox for locating, and weatherstack for forecast.</p>
    <img class="portrait" src='/img/robot.png'>
    </div>
    {{>footer}}
</body>

</html>